//- indicamos que vamos a ocupar la plantilla y lo hacemos con extends 
extends ../layout/index
//- indicamos que el lugar donde se inyecta el codigo es en un block llamado contenido
block contenido 
    //- html que se renderiza en block, se inyecta en contenido recuerda que todo va identado eso indica que es hijo si esta por debajo de su nivel
    div.py-4
    h1.text-4xl.my-10.font-extrabold.text-center Bienes 
        span.font-normal Raices
        //- toma datos dinamicos que vienen del controler
        h2.text-center.text-2xl.font-extrabold=pagina
    div(class="bg-white shadow py-10 px-4 rounded-lg max-w-md mx-auto my-5")
        p(class=error ? 'bg-red-500' : 'bg-green-500').text-white.py-2.px-5.rounded-lg.w-full.font-bold.text-center=mensaje

        if !error 
            a(href="/auth/login" class="text-center font-bold text-sm text-sky-600 uppercase mt-10 block") Inicia sesión en este enlace